.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-color: #6c757d;
  color: #fff;
}


body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


.main-content {
  flex-grow: 1; 
  padding: 20px; 
  margin-top: 56px;
}